.services-root {
  width: 100%;
  font-family: Montserrat;
  color: #0c1727;
}

.services-intro {
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: auto;
  margin-bottom: 150px;
}

.services-intro > div:nth-child(1) {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 15px;
}

.services-intro > div:nth-child(2) {
  font-size: 14px;
}

.services {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 100px;
}

.services > div {
  text-align: center;
  width: 260px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
  text-align: left;
}

.services img {
  width: 50px;
  height: 50px;
}

.services > div > div:nth-child(2) {
  font-weight: bolder;
  font-size: 16px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.services > div > div:nth-child(3) {
  font-size: 12px;
  width: 220px;
}
