.navbar-root {
  background-color: green;
  width: 100vw;
  height: 90px;
  padding: 0px 50px 0px 30px;
  display: flex;
  justify-content: space-around;
  place-items: center;
  font-size: 14px;
}

.navbar-root > div:nth-child(2) {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.navbar-root > div > button {
  background-color: #35a6bf;
  width: 122px;
  height: 40px;
}

.navbar-root img {
  width: 173px;
  height: 37px;
}
